<footer class="footer" role="contentinfo">
  <div class="footer__inner">
    <div class="footer__brand">
      <a class="footer__logo" routerLink="/">OLX</a>
      <p class="footer__copyright">&copy; 2024 OLX Inc. All rights reserved.</p>
    </div>

    @for (column of footerColumns; track $index) {
      <div class="footer__column">
        @for (link of column.links; track link.label) {
          <a class="footer__link" [routerLink]="link.route">{{ link.label }}</a>
        }
      </div>
    }
  </div>
</footer>
